.lead {
    height: 85vh;
    width: 100vw;
    margin-top: -103px;
    z-index: 3;
    background-color: #7cd5df;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead__title {
    font-size: 75px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.lead__subtitle {
    text-align: center;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.lead__text {
    text-align: center;
    color: white;
    width: 100%;
}

@media (max-width: 768px) {
    .lead__text {
        width: 90%;
    }
}

@media (max-width: 510px) {
    .lead {
        margin-top: -84px;
        padding-top: 100px;
    }

    .lead__title {
        font-size: 50px;
    }
}

@media (max-width: 510px) {
    .lead__anime {
        max-width: 200px;
    }

    .lead__subtitle {
        font-size: 20px;
    }
}

@media (max-width: 320px) {

    .lead {
        height: 75vh;
    }

    .lead__anime {
        max-width: 175px;
    }

    .lead__title {
        font-size: 35px;
    }

    .lead__subtitle {
        font-size: 15px;
    }
}

.lead__anime {
    /* border: 1px solid red; */
    max-width: 250px;
}
