.projects {
    padding-top: 100px;
}

.projects__title {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    color: white;
}

.projects__text {
    width: 90%;
    color: white;
    font-size: 16px;
    line-height: 2;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.projects__text-group {
    padding-top: 125px;
    padding-bottom: 250px;
    width: 100%;
    margin: 0 auto 50px auto;
    position: relative;
    background-color: #7cd5df;
}

.projects__text-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.projects__subtitle {
    text-align: center;
    font-size: 29px;
    line-height: 2;
    margin-top: 0;
    color: white;
    margin: auto;
    max-width: 800px;
    width: 65%;
}

.projects__overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.projects__overlay:hover {
    opacity: 1;
}

.projects__links {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 40%;
    margin-bottom: 30px;
}

.projects__link {
    text-decoration: none;
    background-color: transparent;
    padding: 10px 0;
    color: white;
    font-weight: 400;
    transition: 0.4s ease;
    cursor: pointer;
    width: 60px;
}

.projects__link_type_white {
    display: block;
}

.projects__link_type_black {
    display: none;
}

.projects__image {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 10px 1px rgba(233, 240, 243, .7);
}

.projects__icon {
    width: 50px;
    transition: transform 0.4s ease;
}

.projects__icon:hover {
    transform: translate(-3px, -3px);
}

.projects__icon:hover .projects__overlay {
    opacity: 0.9;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    justify-content: center;
    margin: auto;
    padding: 70px 0;
    width: 90%;
    max-width: 1126px;
    position: relative;
    z-index: 2;
    margin-top: -275px;
}

.projects__card {
    display: flex;
    justify-content: center;
    width: 100%; 
    max-width: 500px;
    align-self: center;
    position: relative;
    transition: transform 0.4s ease;
    height: auto;
}

.projects__card:hover {
    transform: translate(-2px, -2px);
}



@media (max-width: 768px) {
    .projects__grid {
        width: 90%;
        max-width: 691px;
        padding: 0;
    }
}

@media (max-width: 666px) {
    .projects__subtitle {
        font-size: 23px;
    }
}

@media (max-width: 510px) {
    .projects__text {
        color: black;
        padding: 5px 0;
        position: static;
        width: 90%;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .projects__subtitle {
        font-size: 20px;
        width: 80%;
    }

    .projects__overlay {
        position: relative;
        opacity: 1;
        background: transparent;
    }

    .projects__links {
        margin-bottom: 0;
        width: 50%;
    }

    .projects__link_type_white {
        display: none;
    }

    .projects__link_type_black {
        display: block;
    }

    .projects__image {
        width: 90%;
        margin: auto;
    }

    .projects__icon {
        transition: opacity 0.4s ease;
        transition: transform 0.4s ease;
    }

    .projects__icon:hover {
        opacity: 0.7;
    }

    .projects__grid {
        grid-template-columns: 1fr;
        width: 80%;
        margin-top: -225px;
    }

    .projects__card {
        max-height: 700px;
        display: flex;
        flex-direction: column;
        background-color:rgba(233, 240, 243, 0.7);
        padding: 20px 0;
        border-radius: 25px;
    }
    .projects__card:hover {
        transform: translate(0,0);
    }
}

@media (max-width: 400px) {
    .projects {
        padding-top: 0;
    }

    .projects__title {
        font-size: 40px;
    }

    .projects__subtitle {
        font-size: 17px;
        width: 95%;
    }
}

@media (max-width: 320px) {
    .projects__title {
        width: 90%;
        font-size: 35px;
        margin: auto;
        margin-bottom: 30px;
    }

    .projects__text-group {
        padding: 70px 0 225px 0;
    }

    .projects__subtitle {
        width: 90%;
        font-size: 14px;
    }

    .projects__grid {
        row-gap: 30px;
    }
}