.projects {
    padding-top: 100px;
}

.projects__title {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    color: white;
}

.projects__text-group {
    padding-top: 125px;
    padding-bottom: 250px;
    width: 100%;
    margin: 0 auto 50px auto;
    position: relative;
    background-color: #7cd5df;
}

.projects__subtitle {
    text-align: center;
    font-size: 29px;
    line-height: 2;
    margin-top: 0;
    color: white;
    margin: auto;
    max-width: 800px;
    width: 65%;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    justify-content: center;
    margin: auto;
    padding: 70px 0;
    width: 90%;
    max-width: 1126px;
    position: relative;
    z-index: 2;
    margin-top: -275px;
}

@media (max-width: 768px) {
    .projects__grid {
        width: 90%;
        max-width: 691px;
        padding: 0;
    }
}

@media (max-width: 510px) {
    .projects__subtitle {
        font-size: 20px;
        width: 80%;
    }

    .projects__grid {
        grid-template-columns: 1fr;
        width: 80%;
        margin-top: -225px;
    }
}

@media (max-width: 400px) {
    .projects {
        padding-top: 0;
    }

    .projects__title {
        font-size: 40px;
    }

    .projects__subtitle {
        font-size: 17px;
        width: 95%;
    }
}

@media (max-width: 320px) {
    .projects__title {
        width: 90%;
        font-size: 35px;
        margin: auto;
        margin-bottom: 30px;
    }

    .projects__text-group {
        padding: 70px 0 225px 0;
    }

    .projects__subtitle {
        width: 90%;
        font-size: 14px;
    }

    .projects__grid {
        row-gap: 30px;
    }
}