.contact {
    text-align: center;
    padding: 250px 0;
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
    width: 90%;
    margin: auto;
}

.contact__title {
    font-size: 50px;
    margin: 0;
    margin-bottom: 25px;
}

.contact__subtitle {
    font-size: 25px;
    margin-bottom: 50px;
}

.contact__button {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 50px;
    line-height: 50px;
    width: 350px;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid #7cd5df;
    border-radius: 65px;
    padding: 10px 15px;
    color: #7cd5df;
    font-weight: 400;
    transition: 0.4s ease;
    text-decoration: none;
}

.contact__button:hover {
    color: white;
    /* background-color: #3ac0cf; */
    background-color: #7cd5df;
    cursor: pointer;
}

@media (max-width: 666px) {
    .contact__title {
        font-size: 40px;
        margin: 0;
    }

    .contact__subtitle {
        font-size: 20px;
        margin-bottom: 25px;
    }
}

@media (max-width: 510px) {
    .contact {
        width: 90%;
        margin: auto;
        padding: 200px 0;
    }

    .contact__title {
        font-size: 30px;
    }

    .contact__button {
        width: 250px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
   }
}

@media (max-width: 400px) {
    .contact {
        padding: 150px 0;
    }

    .contact__title {
        font-size: 28px;
        margin: 0;
    }

    .contact__subtitle {
        font-size: 15px;
        margin-bottom: 25px;
    }
}