.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9998;
    width: 100vw;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: auto;
    margin-right: 50px;
}

.header_scroll {
    background-color: #7cd5df;
}

.header__menu-btn {
    display: none;
}

.header__list {
    margin-right: 20px;
}

.header__list:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.4s ease;
}

.header__link:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.curved-bottom {
    margin-top: -10px;
    object-fit: fill;
    width: 100vw;
}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 75px;
    transition: opacity 0.4s ease;
}

.logo:hover {
    opacity: 0.7;
}

.logo-link {
    margin: auto 0;
}

.logo-link:hover {
    cursor: pointer;
}

.logo-link_type_white {
    display: block;
}

@media (max-width: 666px) {
    .logo {
        margin-left: 25px;
    }

    .menu {
        margin-right: 25px;
    }
}



@media (max-width: 510px) {
    .header {
        margin: 0;
        width: 100%;
        z-index: 3;
        display: flex;
        top: 0px;
        height: auto;
    }
          
    .menu {
        margin-right: 20px;
        display: block;
        max-height: 0px;
        transition: max-height .5s ease;
        position: absolute;
        top: 84px;
        right: 0;
        overflow: hidden;
        background-color: white;
        border-radius: 7px;
        box-shadow: 1px 1px 15px rgba(167, 167, 167, 0.3), -1px 1px 15px rgba(167, 167, 167, 0.3);
    }

    .menu-active {
        transition: 1s;
        max-height: 300px;
    }

    .header__link {
        display: block;
        margin: 40px 60px 40px 30px;
        text-decoration: none;
        text-align: left;
        transition: color 0.4s ease;
        color: #7cd5df;

    }

    .header__list {
        margin-right: 0;
     }

     .logo_place_header {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }
      
      /* menu icon */
      
    .header__menu-icon {
        cursor: pointer;
        display: inline-block;
        /* float: right; */
        padding: 28px 20px;
        position: relative;
        user-select: none;
        align-self: center;
    }
      
    .navicon {
        background: white;
        display: block;
        height: 3px;
        position: relative;
        transition: background .2s ease-out;
        width: 25px;
    }
      
    .navicon:before,
    .navicon:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
      
    .navicon:before {
        top: 7px;
    }
      
    .navicon:after {
        top: -7px;
    }
      
      /* menu btn */
        
    .header__menu-btn:checked ~ .header__menu-icon .navicon {
        background: transparent;
    }
      
    .header__menu-btn:checked ~ .header__menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
      
    .header__menu-btn:checked ~ .header__menu-icon .navicon:after {
        transform: rotate(45deg);
    }
      
    .header__menu-btn:checked ~ .header__menu-icon:not(.steps) .navicon:before,
    .header__menu-btn:checked ~ .header__menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    .header__link:hover,
    .header__menu-btn:hover {
        color: rgba(124, 213, 223, 0.5);
    }    

}
