@import url(../vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.page {
    font-family: "Nunito", sans-serif;
}

.loading-screen {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 0.7s ease;
}

.loading-screen_inactive {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 510px) {
    .loading-screen__logo {
        max-width: 510px;
        width: 100%;
    }
}
